@import './homeResponsive.scss';
@import "../css/scss/_functions.scss";
@import "../css/scss/_variables.scss";
@import "../css/scss/mixins/_breakpoints.scss";
@mixin absoluteObject() {
  position: absolute;
  top: 65px;
  z-index: 5;
  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: center;
}

header {
  nav {
    z-index: 9;

    .navbar-brand {
      img {
        max-height: 40px;
      }
    }
  }

  .navbar-dark .navbar-nav {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-up(lg){
      width: calc(100% - 80px);
    }
    .nav-item {
      text-align: center;
    }

    .nav-link {
      color: #fff;
      font-weight: 400;
      transition: .2s;
      padding: 7px 0px;
      line-height: 1.3;
      margin-left: 2rem;
      white-space: nowrap;

      &:first-child {
        margin-right: 0;
      }
    }
  }

  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show > .nav-link {
    color: $primary;
    border-bottom: 4px solid $primary;

  }

  .headerSlider {
    z-index: 1;
    margin-top: -66px;

    .item {
      margin-left: -20px;
      margin-right: 0px;

      .backHeader {
        position: absolute;
        z-index: 0;
        opacity: .60;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .content {
        position: relative;
        // background-image: url('/assets/images/headerBack.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 0;

        &::before {
          content: ' ';
          opacity: .75;
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          z-index: -1;
          background-color: $mainColor;

        }

        .text {
          z-index: 1;
          padding-top: 64px;

          .subtitle {
            line-height: 2;
          }
        }
      }
    }

    .swap {
      position: absolute;
      z-index: 8;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 60px;
    }

    .social {
      @include absoluteObject;
      bottom: 0;
      left: 10%;
      right: auto;
      max-width: fit-content;
      padding: 0;
      font-size: 20px;

      li {
        a {
          color: $whiteColor;
          transition: .8s;
          display: block;
          outline: none;
          box-shadow: none;
          margin-top: 10px;
          position: relative;

          &:hover {
            color: $primary;
          }

        }
      }

      .hr {
        border-left: 1px solid $whiteColor;
        height: 40px;
        width: 0px;
        align-self: center;
      }
    }

    .owl-dots {
      @include absoluteObject;
      left: auto;
      right: 10%;
      bottom: 65px;

      .owl-dot {
        width: 10px;
        height: 10px;
        background: $lightMainColor;
        display: block;
        outline: none;
        box-shadow: none;
        margin-top: 30px;
        border-radius: 50%;
        position: relative;

        &.active {
          background: $primary;
          // border: 3px solid $mainColor;
          box-shadow: 0 0 0 15px #07433E15;

          &::before {
            position: absolute;
            content: ' ';
            top: 0;
            left: 0;
            right: -7px;
            bottom: 0;
            width: 25px;
            height: 25px;
            background: $mainColor;
            z-index: -1;
            margin: auto;
            display: block;
            border-radius: 50%;
          }
        }
      }

    }

    .owl-carousel .owl-item .owl-lazy:not([src]),
    .owl-carousel .owl-item .owl-lazy[src^=""] {
      max-height: none;
    }

  }


}


main {
  .about {
    // noting to write here
  }

  .services {
    .icon {
      max-height: 30px;
      object-fit: scale-down;
    }
  }

  .courses {
    .item {
      &:last-child {
        padding-left: 0 !important;
      }

      > .border {

        border: $border;
      }

      .img {
        position: relative;
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 0;

        &::before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: $mainColor;
          z-index: 1;
          opacity: .6;
          border-radius: $radius;
          transition: .8s;
        }

        &:hover {
          &::before {
            opacity: 0;
          }
        }
      }

      .content {

      }
    }
  }
}