$primary: #CB9A34;
$primaryDark: #bb891f;
$mainColor: #416966;
$darkMainColor: #24413f;
$lightMainColor: #A9C4C4;
$grayColor: #F0F0F0;
$lightGray: #F7F7F7;
$darkGrayText:#707070;
$grayText: #999999;
$headerText: #999999;
$whiteColor: #ffffff;

$yellow: #AA9C64;
$errorColor: #FF4646;
$backError: #EDE4E4;

$lightError: #FFF7F7;
$borderError: #F79D9D;

$radius: 50px 0;

$dropDown : false;
$collapse : false;

$border:1px solid #e3e3e3;

